<div [formGroup]="parentForm" class="panel panel-level-1">
  <div class="panel-heading group-header">
    <span class="panel-title cursor-ptr" tabindex="0"
      (keyup.space)="toggle($event)"
      (keyup.enter)="toggle($event)"
      (click)="toggle($event)">
      <i class="glyphicon"
         [ngClass]="{'glyphicon-minus-sign': isOpen, 'glyphicon-plus-sign': !isOpen}">
      </i>
      {{getItemName()}}s
    </span>
	<span class="pull-right">
	  <button type="button" class="btn btn-similar btn-xs"
	          [disabled]="!isEditable"
	          title="Add a new {{getItemName()}}"
	          (click)="addNew($event); miscUtils.showFullView($event);">
	    <i class="glyphicon glyphicon-plus-sign"></i>
	    New <span class="hidden-xxs">{{getItemName()}}</span>
	  </button>
	</span>
  </div>
  <div class="panel-body group-body" [hidden]="! isOpen">
    <div class="margin-bottom15" *ngIf="!hasItems()">
      No information available for {{getItemName()}}s
    </div>
      <div *ngFor="let antenna of getItems(); let i = index">
          <gnss-antenna-item #item
                             [groupArray]="parentForm"
                             [antenna]="antenna"
                             [total]="items.length"
                             [index]="i"
                             [geodesyEvent]="geodesyEvent"
                             (returnEvents)="returnEvents($event)">
          </gnss-antenna-item>
      </div>
  </div>
</div>
