.calendar-popup {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #888;
  margin-top: 1px;
  padding: 0 1px;
  right: 15px;
  z-index: 1;
}
.date-picker {
  height: 242px;
}
.datetime-picker {
  height: 380px;
}
@media (max-width: 767px) {
  .date-picker {
    height: 255px;
  }
  .datetime-picker {
    height: 390px;
  }
}
.calendar-popup .input-time {
  padding: 2px 12px;
  width: 45px;
}
.calendar-popup .btn-time {
  color: #337ab7;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 3px 6px;
  width: 100%;
}
.calendar-popup .btn-time:hover {
  color: #286090;
  background-color: #f0f0f0;
  border-color: #ddd;
}
.calendar-popup .center-time {
  margin: 0 auto;
  padding-top: 0;
  top: -2px;
  width: 168px;
}
.btn-calendar {
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  height: 34px;
  padding: 5px 10px 4px;
}
.btn-calendar.disabled,
.btn-calendar[disabled],
.btn-calendar[disabled]:focus,
.btn-calendar[disabled]:hover {
  color: #222 !important;
  background-color: #f0f0f0 !important;
  opacity: 1;
}
.calendar-popup .center-btns {
  margin: 0 auto;
  width: 76px;
}
/* Hide stepper arrows of number input for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* And for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]:invalid {
  border: solid #ca1200 1px;
  background-color: #ffefff;
}
.input-group-btn:last-child > .btn {
  margin-left: 0;
  border-left: 0;
}
.time-separator {
  font-size: 20px;
  font-weight: 500;
  padding: 0 5px;
}
.btn-ok {
  color: #337ab7;
  background-color: #fff;
  border-color: #ccc;
  font-size: 13px;
  margin-top: 2px;
}
.btn-ok:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.z-lowest {
  z-index: 0 !important;
}

@media (min-width: 451px) AND (max-width: 550px) {
  .calendar-popup {
    right: 0;
  }
}

@media (max-width: 450px) {
  .calendar-popup {
    right: 5px;
  }
}
