<div class="form-group" [formGroup]="form">
    <label class="col-md-4 col-sm-4 col-xs-5 col-xxs-12 control-label"
           [ngClass]="{'required': required}">
        <ng-content></ng-content>
    </label>
    <div class="col-md-5 col-sm-6 col-xs-6 col-xxs-12">
        <div>
            <div class="input-group">
                <input type="text" maxlength="10"
                       class="form-control z-lowest"
                       [formControlName]="controlName"
                       [ngClass]="{ 'ng-invalid': invalidDatetime }"
                       (change)="updateDatePicker()"
                       (focus)="showDatePicker = true"
                       [disabled]="isFormDisabled()"/>
                <span class="input-group-btn z-lowest">
                    <button id="calendar-btn" type="button"
                            class="btn btn-default btn-calendar z-lowest"
                            (click)="showDatePicker = !showDatePicker"
                            [disabled]="isFormDisabled()" >
                        <span id="calendar-icon" class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </div>
            <small [hidden]="!formControl.errors" class="alert alert-danger">
                {{getErrorReport()}}
            </small>

            <div class="date-picker-container" *ngIf="showDatePicker">
                <datepicker [(ngModel)]="dateModel"
                            [ngModelOptions]="{standalone: true}"
                            [showWeeks]="false"
                            (selectionDone)="updateDate($event)"></datepicker>
            </div>
        </div>
    </div>
</div>
